---
  const { lang } = Astro.props

  const title = lang === "en" ? "Work Experience" : "Experiencia Laboral"
  const data_es = {
    date1: "Actualmente...",
    role1: "Frontend Developer (Elementor) - Freelancer",
    description1: "Responsable de crear y mantener páginas hechas en Wordpress utilizando constructores como Elementor o WP Page Builder. Utilizando CSS para crear estilos personalizados.",
    date2: "2020",
    role2: "Frontend Developer − 2Web",
    description2: "Resposable en la creación y mantenimiento de Landing Page y E-Commerce utilizando HTML, CSS y JS (Vue.js)"
  }

  const data_en = {
    date1: "Currently...",
    role1: "Frontend Developer (Elementor) - Freelancer",
    description1: "Responsible for creating and maintaining pages built in Wordpress using builders such as Elementor or WP Page Builder. Using CSS to create custom styles.",
    date2: "2020",
    role2: "Frontend Developer − 2Web",
    description2: "Responsible for the creation and maintenance of Landing Page and E-Commerce using HTML, CSS and JS (Vue.js)."
  }

  const data = lang === "en" ? data_en : data_es
---
<section
  id="experience"
  data-section="experiencia"
  class="section w-full mx-auto max-w-[1140px] pt-24  px-4 md:px-0"
>
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
  >
    <svg
      class="size-7"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
      ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><path
        d="M12 12l0 .01"></path><path d="M3 13a20 20 0 0 0 18 0"></path></svg
    >
     {title}
  </h2>
  <ol class="relative border-s border-gray-200 ml-3 max-w-[700px]">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-sky-800 dark:text-sky-200/80"
        >{data.date1}</time
      >
      <h3
        class="text-lg font-semibold text-yellow-800 dark:text-yellow-200 mt-2"
      >
        Frontend Developer (Elementor) - Freelancer
      </h3>
      <p class="mb-4 text-base font-normal dark:text-gray-200 text-pretty">{data.description1}</p>
      <p class="font-extrabold">Lista de Trabajos Participados: </p>
      <ul class="ml-6 mt-2 list-work" >
        <li class="">
          <a href="https://doha-tours.com/servicios/" target="_blank" class="underline">Doha Tours</a>
        </li>
        <li>
          <a href="https://grainsys.net/" class="underline" target="_blank">Grainsys</a>
        </li>
        <li>
          <a href="https://usasoftlanding.com/" target="_blank" class="underline">Usasoftlanding</a>
        </li>
        <li>
          <a href="https://miempresaya.us/" target="_blank" class="underline">Miempresaya</a>
        </li>
        <li>
          <a href="https://isolint.com/restaurant-intelligence/" target="_blank" class="underline">Isolint - Restaurant Intelligence</a>
        </li> 
      </ul>
    </li><li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-sky-800 dark:text-sky-200/80"
        >{data.date2}</time
      >
      <h3
        class="text-lg font-semibold text-yellow-800 dark:text-yellow-200 mt-2"
      >
        <a href="https://www.linkedin.com/in/2web-publicidad-en-internet-9bba5419/" target="_blank" class="hover:underline">Frontend Developer − 2Web</a>
      </h3>
      <p class="mb-4 text-base font-normal dark:text-gray-200 text-pretty">
        {data.description2}
      </p>
      <ul class="list-work ml-8">
        <li>
          <a href="https://renofase.com/"  class="line-through" target="_blank" >Renofase</a>. Migrated to Wordpress
        </li>
        <li>
          <a href="https://creamedicinaprepagada.com/"  class="line-through" target="_blank">Cre@ Salud Landing Page</a>. It doesn't work.
        </li>
      </ul>
    </li>
  </ol>
</section>

<style>
  .list-work li {
    list-style-type: decimal;
  }
</style>